<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
				<a href="/">
					<span uk-icon="thumbnails"></span>
				</a>
			</li>
            <li class="uk-parent">
				<a href="/">Main</a>
			</li>
			<li class="uk-parent">
				<a class="uk-button primary-green" href="https://u.is" target="_blank" rel="nofollow">What is Utopia?</a>
			</li>
			<li>
                <a href="#">other projects</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>
							<a href="https://mfc.click/utopia_community_tech" target="_blank" rel="nofollow">
								<span uk-icon="rss"></span>
								<span>Utopia Community Tech (Telegram)</span>
							</a>
						</li>
						<li>
							<a href="https://github.com/Sagleft/utopia-cryptonat" target="_blank" rel="nofollow">
								<span uk-icon="github"></span>
								<span>Crypton Donation Library (Github)</span>
							</a>
						</li>
						<li>
							<a href="https://github.com/Sagleft/utopia-paper-voucher" target="_blank" rel="nofollow">
								<span uk-icon="github"></span>
								<span>Crypton Paper Voucher (Github)</span>
							</a>
						</li>
						<li>
							<a href="https://github.com/Sagleft/utopia-restful" target="_blank" rel="nofollow">
								<span uk-icon="github"></span>
								<span>Utopia RESTful (Github)</span>
							</a>
						</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>