<!DOCTYPE html>
<html lang="en">
	{% include 'parts/head.tmpl' %}
	<body>
		<div class="uk-background-cover uk-panel uk-flex uk-flex-center uk-flex-middle main-bg">
            <div class="uk-container">
				<div class="uk-overlay uk-overlay-primary">
					<div class="uk-light">
						<h1>Utopia QR Chat</h1>
						<p class="section-limited">Get access to the channels of the Utopia ecosystem from any device. Used for promotional and preview chats.</p>
						<a class="uk-button uk-button-primary" href="/catalog">Channels</a>
						<a class="uk-button uk-button-default" href="https://github.com/Sagleft/utopia-qr-chat" target="_blank" rel="nofollow">Github</a>
					</div>
				</div>
			</div>
        </div>
		
		{% include 'parts/footer.tmpl' %}
		{% include 'parts/scripts.tmpl' %}
	</body>
</html>
